<% layout('/layouts/boilerplate.ejs') -%>

<div class="col-6 offset-3 mb-2" >
    <h1>Login on WanderLust</h1>
</div>
  <div class="row mb-4">
    <div class="col-6 offset-3">

        <form  method="post"  action="/login">

             <div class="mb-3">
             <label for="username" class="form-label">Username:</label>
        <input type="text" class="form-control" placeholder="Enter Username" id="username"name="username"  required>
           <div class="valid-feedback">
      Looks good!
         </div>
        </div>

         
         <div class="mb-3">
             <label for="password" class="form-label">Password:</label>
        <input type="password" class="form-control" placeholder="Enter Password" id="password"name="password"  required>
          </div>
        
        <button class="btn btn-success mb-9"> Login</button>
       


        </form>
 </div>  

 </div>  

